In [4]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
lb=OneHotEncoder()
company=pd.read_csv("E:/Assignments/ASsignment week 12/Desicion trees/Assignment/Company_Data.csv")
company.info()
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sales        400 non-null    float64
 1   CompPrice    400 non-null    int64
 2   Income       400 non-null    int64
 3   Advertising  400 non-null    int64
 4   Population   400 non-null    int64
 5   Price        400 non-null    int64
 6   ShelveLoc    400 non-null    object
 7   Age          400 non-null    int64
 8   Education    400 non-null    int64
 9   Urban        400 non-null    object
 10  US           400 non-null    object
dtypes: float64(1), int64(7), object(3)
memory usage: 34.5+ KB

In [13]:
company['ShelveLoc']=le.fit_transform(company['ShelveLoc'])

In [14]:
company.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,0,42,17,Yes,Yes
1,11.22,111,48,16,260,83,1,65,10,Yes,Yes
2,10.06,113,35,10,269,80,2,59,12,Yes,Yes
3,7.40,117,100,4,466,97,2,55,14,Yes,Yes
4,4.15,141,64,3,340,128,0,38,13,Yes,No

applying labelencoder on the shelveloc coulmn and remving the unwanted column urban

In [16]:
company=company.drop('Urban',axis=1)

In [18]:
company.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,US
0,9.50,138,73,11,276,120,0,42,17,Yes
1,11.22,111,48,16,260,83,1,65,10,Yes
2,10.06,113,35,10,269,80,2,59,12,Yes
3,7.40,117,100,4,466,97,2,55,14,Yes
4,4.15,141,64,3,340,128,0,38,13,No

In [30]:
colnames = list(company.columns)
predictors = colnames[:9]
target = colnames[9]

In [32]:
# Splitting data into training and testing data set
from sklearn.model_selection import train_test_split
train, test = train_test_split(company, test_size = 0.3)

In [34]:
from sklearn.tree import DecisionTreeClassifier as DT

In [57]:
model=DT(criterion='entropy',max_depth=4)
model.fit(train[predictors],train[target])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=4, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

Here I have done Pre pruning to avoid the overfiiting, before pruning there was 20% differnce between the train and test accuracies, after pruning the tree ,I found that pruning util the depth 4 is giving me the best accuracy and he model is not overfitted

In [58]:
# Prediction on Test Data
preds = model.predict(test[predictors])
pd.crosstab(test[target], preds, rownames=['Actual'], colnames=['Predictions'])

Predictions  No  Yes
Actual
No           38    4
Yes           8   70

In [59]:
np.mean(preds==test[target])

0.9

In [60]:
# Prediction on Train Data
preds = model.predict(train[predictors])
pd.crosstab(train[target], preds, rownames = ['Actual'], colnames = ['Predictions'])
np.mean(preds == train[target])

0.9285714285714286